.venv/
venv/
node_modules/
frontend/node_modules/
frontend/dist/
client-package/
.git/
.hypothesis/
__pycache__/
*.pyc
backend/*.dist-info/
backend/fastapi/
backend/pydantic*/
backend/uvicorn/
backend/starlette/
backend/httpx/
backend/aiomysql/
backend/PIL/
backend/pillow.libs/
backend/cryptography/
